.homeBanner{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/856/852/851/laptop-electronic-device-technology-personal-computer-wallpaper-preview.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}