.clloection{
    background-color: rgba(189, 219, 219, 0.959);
    padding: 30px;
}
.cardimg{
    height: 200px;
}
.cardbg{
    background-color: rgb(240, 230, 235);
}
.mcname{
    color: rgb(248, 157, 37);
}
/* .mcUpdate{
    font-family: ;
} */